:root{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: linear-gradient(to right, #051937, #008793);
}


.container{
    padding: 10px 20px;
    max-width: fit-content;
    max-height: fit-content;
}

h1{
    color: white;
    font-size: 48px;
    text-align: center;
}

.buttonWarp{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonWarp #btnOne{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #051937;
  color: white;
  border: none;
  box-shadow: 0px 0px 10px  #00000067;
  transition: 0.5s;
}

.buttonWarp #btnOne:hover{
    box-shadow: 0px 0px 20px  #000000;
}


.buttonWarp #btnTwo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #a6e30e;
    border: none;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px  #00000067;
    transition: 0.5s;
}


.buttonWarp #btnTwo:hover{
    box-shadow: 0px 0px 20px  #000000;
}

.copyCode p{
    color: rgb(255, 255, 255);
    text-align: center;
}

#cssCode{
    padding: 10px;
    border-left: 1px solid white;
    background-color: rgba(255, 255, 255, 0.176);
    color: white;
    border-radius: 5px;
}